#tabeladmin tbody tr.selected {
   background-color: lightskyblue;
    color: #FFF;
}

#tabeladmin {
    clear:both;
    text-align:"left"; 
    border-collapse: collapse;
    border: 1px solid #ddd;
}

#tabeladmin > thead > tr > td,
#tabeladmin > tbody > tr > td,
#tabeladmin > tfoot > tr > td,
#tabeladmin > thead > tr > td,
#tabeladmin > tbody > tr > td,
#tabeladmin > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#tabeladmin > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#tabeladmin > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#tabeladmin tbody tr{
    height: 20px;
    text-align:"left";  
    border-top: 2px solid #ddd;
    border-collapse: collapse;
    
}

#tabeladmin tr td{
    border-bottom: 1px solid #999; 
}
#tabeladmin tbody {
    display:block;
    overflow-y:scroll;
    overflow-x:hidden;
}
#tabeladmin thead{
    display:table;
    background: #01A9DB;
    font-weight: bold;
    width: 100%;
    text-align: center;
    table-layout:fixed;
}


#tabeladmin tbody tr {
    display:table;
    width: 100%;
    background: #eee;
    text-align: center;
    table-layout:fixed;
}

#navSearchAdmin{
	margin:0px;
	margin-right: 45px;
	height: 50px;
	background-color: whitesmoke;
	position: relative;
	float: right;
}

#navSearchAdmin ul li{
	list-style-type: none;
	display: inline;
	color: black;
	margin: 0;
	padding: 0;
	float: right;
}

#labelSearchAdmin{
	width: auto;
	height: 20px;
	margin-right: 5px;
	position: relative;
	padding: 0px;
	margin-top: 0px;
}

#searchAdmin{
	width: 120px;
	margin-top: -20px;
	position: relative;
}

#selectOrderBy{
	width: 120px;
	margin-top: -20px;
	position: relative;
}

#nav .labelSearchAdmin{
	padding: 0px 5px;
	color: black;
	border-collapse: collapse;
	float: right;
	margin: 0px 0px 0px 0px;
	position: relative;
}


.editPengaturanAkun li{
    text-align: center;
	list-style: none;
	padding: 5px 0px 5px 0px;
	margin: 3px 40px 0px 0px;
	cursor: pointer;
	background-color: white;
}

.editPengaturanAkun label{
	margin-left: 30%;
	font-weight: bold;
	color: white;
}

.editPengaturanAkun li:hover{
	
	background-color: #A9A9A9;
}

.editPengaturanAkun{
	min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 99999;
    width: 350px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

.editProfilGereja label{
	font-weight: bold;
	color: white;
}

.editProfilGereja{
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 7.5%;
    left: 40%;
    z-index: 99999;
    width: 370px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

div.fileUpload{
    background-color: buttonface;
    width: 95px;
    height: auto;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 0px 20px #999;
}

div.fileUpload span{
   font-family: times;
   font-size: 14px;
}

div.fileUpload:hover{
    background-color: white;
    box-shadow: 0px 0px 50px #ddd;
}

.fileUpload {
    vertical-align: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 5px;
 
    color: black;
}
.fileUpload input.uploadLogo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 9px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#buttonEditProfilAkunAll{
    text-align: center;
}

#buttonEditProfilAkunAll button{
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

#buttonEditProfilAkunAll button:hover{
    background-color: white;
    box-shadow: 0px 0px 50px #ddd;
    cursor: pointer;
}

#buttonEditProfilAkunAll input{
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

#buttonEditProfilAkunAll input:hover{
    background-color: white;
    box-shadow: 0px 0px 50px #ddd;
    cursor: pointer;
}

.editPasswordAkun label{
	font-weight: bold;
	color: white;
}

.editPasswordAkun{
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 20%;
    left: 40%;
    z-index: 99999;
    width: 370px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

.pengaturanAkunEdit{
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 20%;
    left: 40%;
    z-index: 99999;
    width: 370px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

.pengaturanAkunEdit label{
	margin-left: 18%;
	font-weight: bold;
	color: white;
}

#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    /*z-index: 10;*/
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

img.btn_close {
	float: right;
    width: 25px;
    height: 25px;
}

.editRencanaAnggaranJenisAkun label{
	font-weight: bold;
	color: white;
}
.editRencanaAnggaranJenisAkun{
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 99999;
    width: 370px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

td {cursor: pointer;}

#btnBatalTambahAdmin, #btnTambahAdmin, #btnBatalEditAdmin, #btnEditAdmin{
    width: 120px; height: 25px;
    float: right;
    margin-right:40px;   
}

#tombolAdminEditTambah{
    margin-right: 30%;
}

#formTambahAdmin , #formEditAdmin{
    width: 800px;
    padding: 30px;
}

.lblTitle{
    font-size: 14pt;
    font-weight: bold;
    /*padding-bottom: 30px;*/
    font-family: times;
    /*border-bottom: 1px solid #ddd;*/
    width: 90%;
}

#divTitle{  
    margin: 10px 10px 0px 20px  ;
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    width: 96%;
}

.detailAdmin{
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 20%;
    left: 40%;
    z-index: 99999;
    width: 370px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#labelDetailAdmin{
    margin-left: 30%;
    font-weight: bold;
    color: white;
}

#warningPassTambahAdmin2, #warningPassTambahAdmin1, #warningPassEditAdmin2, #warningPassEditAdmin1, #warningPassEditAkun2, 
#warningPassEditAkun1, #warningTambahAdmin{
  visibility: hidden;
  width: 15px;
  height: 15px;
}

#lblwarningTambahAdmin, #lblwarningPassEditAdmin1, #lblwarningPassEditAdmin2, #lblwarningPassEditAdmin2, #lblwarningPassEditAdmin1{
  visibility: hidden;
  width: 200px;
  height: auto;   
}