#detailBidang{
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    width: 370px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#labelDetailBidang{
    margin-left: 30%;
    font-weight: bold;
    color: white;
}

#buttonEditProfilAkunAllKomisiBidang{
    width:100%;
    text-align: center;
}

#buttonEditProfilAkunAllKomisiBidang button{

    width: 70px;
    height: 30px;
    border-radius: 5px;
}

#buttonEditProfilAkunAllKomisiBidang button:hover{
    background-color: white;
    box-shadow: 0px 0px 50px #ddd;
    cursor: pointer;
}

.searchBidang, .searchJemaat{
    background: url("../image/search.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: white;
    width: 96%;
    padding-right: 20px;
    margin-right: 30px;
}

#btnTambahBidang, #btnTambahJemaat{
    width: 120px; height: 25px;
    float: right;
    margin-right:100px;
}

#formTambahBidang, #formTambahJemaat{
    width: 495px;
    margin-bottom: 40px;
    padding: 10px;  
}

#bidang_tanggal, #bidang_bulan, #bidang_tahun{
    margin-right: 0px;
}