#formBonSementara{
	padding: 10px;
}

#bonSementaraAtas{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

#bonSementaraAtas td{
	padding-bottom: 4px;
	/*border: 1px solid black;*/
}

#boxKeteranganBonSementara *{
	width: 99.2%;
}

#detailBon{
	margin-top: 15px;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

#detailBonBody td:not(.numerik){
	border-left: 1px dashed gray;
}

#detailBonBody tr{
	border-right: 1px dashed gray;
}

#detailBon th{
	background-color: #01A9DB;
	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

#detailBon thead tr{
	border-bottom: 1px solid black;
	vertical-align: center;
	height: 40px;
}

#detailBon tbody tr{
	border-top: 1px solid black;
	vertical-align: center;	
	height: 40px;
	font-family: sans-serif;
	font-size: 10pt;
}

#detailBon tr td *:not(.trick){
	width: 100%;
}

.uraianBon{
	text-align: left;
	width: 98% !important;
	height: 100%;
	border: none;
	background-color: transparent;
	outline: none;
}

#bonTambahan_jumlah{
	padding-left: 26px;
}