#formbuktipenerimaan{
	padding: 10px;
}

#buktiPenerimaanAtas{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

#buktiPenerimaanAtas td{
	padding-bottom: 4px;
}

#boxKeteranganBuktiPenerimaan *{
	width: 99.2%;
}

#detailKredit{
	margin-top: 15px;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

#detailKreditBody td:not(.numerik){
	border-left: 1px dashed gray;
}

#detailKreditBody tr{
	border-right: 1px dashed gray;
}

#detailKredit th{
	background-color: #01A9DB;
	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

#detailKredit thead tr{
	border-bottom: 1px solid black;
	vertical-align: center;
	height: 40px;
}

#detailKredit tbody tr{
	border-top: 1px solid black;
	vertical-align: center;	
	height: 40px;
	font-family: sans-serif;
	font-size: 10pt;
}

#detailKredit tr td *:not(.trick){
	width: 100%;
}

.uraianPenerimaan{
	text-align: left;
	width: 98% !important;
	height: 100%;
	border: none;
	background-color: transparent;
	outline: none;
}

#penerimaanTambahan_jumlah{
	padding-left: 26px;
}

.delRow{
	font-family: sans-serif;
	color: red;
	font-style: italic;
	font-weight: bold;
	font-size: 14pt;
	cursor: pointer;
}

.numerik{
	text-align: right;
	padding-right: 18px;
}

.rpCol{
	padding-left: 6px;
	width: 30px;
	text-align: left;
}

.separator{
	width: 70px;
}