#formBuktiPengeluaran{
	padding: 10px;
}

#buktiPengeluaranAtas{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

#buktiPengeluaranAtas td{
	padding-bottom: 4px;
}

#boxKeteranganBuktiPengeluaran *{
	width: 99.2%;
}

#detailDebet{
	margin-top: 15px;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

#detailDebetBody td:not(.numerik){
	border-left: 1px dashed gray;
}

#detailDebetBody tr{
	border-right: 1px dashed gray;
}

#detailDebet th{
	background-color: #01A9DB;
	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

#detailDebet thead tr{
	border-bottom: 1px solid black;
	vertical-align: center;
	height: 40px;
}

#detailDebet tbody tr{
	border-top: 1px solid black;
	vertical-align: center;	
	height: 40px;
	font-family: sans-serif;
	font-size: 10pt;
}

#detailDebet tr td *:not(.trick){
	width: 100%;
}

.uraianPengeluaran{
	text-align: left;
	width: 98% !important;
	height: 100%;
	border: none;
	background-color: transparent;
	outline: none;
}