#dataPenerimaan{
	padding: 10px;
}

#dataPenerimaan table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

#dataPenerimaan td:not(.rightAlignTd){
	border-left: 1px dashed gray;
}

#dataPenerimaan tr{
	border-right: 1px dashed gray;
	border-bottom: 1px solid black;
}

#dataPenerimaan th{
	background-color: #01A9DB;
	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

#dataPenerimaan thead tr{
	vertical-align: center;
	height: 40px;
}

#dataPenerimaan tbody tr{
	vertical-align: center;	
	/*height: 40px;*/
	font-family: sans-serif;
	font-size: 10pt;
}

#dataPenerimaan tbody td:not(.boxOptionDataPenerimaan){
	padding-top: 12px;
	padding-bottom: 12px;
}

.leftAlignTd{
	text-align: left;
	padding-left: 7px;
}

.rightAlignTd{
	text-align: right;
	padding-right: 7px;
}

.optionDataPenerimaan{
	width: 45px;
	height: 30px;
	/*border: none;*/
	background: url("../image/option.png");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: left;
}

.searchPenerimaan{
	background: url("../image/search.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
	background-color: white;
	width: 96%;
	padding-right: 20px;
	margin-right: 30px;
}

#formEditPenerimaan{
	padding: 10px;
}

#formEditPenerimaan>table{
	text-align: left;
}

#formEditPenerimaan>table td{
	padding-bottom: 4px;
}

#penerimaanedit_jumlah{
	padding-left: 26px;
}