.infoandsearchbar{
	position: relative;
}

.rowcount{
	margin: 10px;
	position:absolute;
	left:0; 
}

.searchbar{
	margin: 10px;
	position:absolute;
	right:0; 
}

.searchbox{
	background: url("../image/search.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
	background-color: white;
	padding-right: 20px;
}

.sortdatarekening{
	width: 100px;
}

.tabelbox{
	margin-top: 50px;
	position: absolute;
	left: 0;
	right: 0;
}

#tabeldatarekening{
	position: relative;
	width: 100%;
	border: 1px solid black;
}

#kode_rekening{
	width: 16%;
}

#nama_rekening{
	width: 16%;
}

#tipe_rekening{
	width: 16%;
}

#keterikatan{
	width: 16%;
}

#waktu_pembuatan_rekening{
	width: 16%;
}

#pembuat_rekening{
	width: 16%;
}