#dataBukti2{
	padding: 10px;
}

#dataBukti2 table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

#dataBukti2 td:not(.rightAlignTd){
	border-left: 1px dashed gray;
}

#dataBukti2 tr{
	border-right: 1px dashed gray;
	border-bottom: 1px solid black;
}

#dataBukti2 th{
	background-color: #01A9DB;
	/*color: white;*/
	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

#dataBukti2 thead tr{
	vertical-align: center;
	height: 40px;
}

#dataBukti2 tbody tr{
	vertical-align: center;	
	/*height: 40px;*/
	font-family: sans-serif;
	font-size: 10pt;
}

#dataBukti2 tbody td:not(.boxOptionDataBukti){
	padding-top: 12px;
	padding-bottom: 12px;
}
