#datatoko, #tabletoko, #datapenanggungjawab, #tablepenanggungjawab {
	clear: both;

}

.tabelData{
	clear: both;
	margin: 20px;
	width: 96%;
	text-align:"left"; 
	border-collapse: collapse;
	border: 1px solid #ddd;
	table-layout: fixed;
}

.tabelData > thead > tr > th,
.tabelData > tbody > tr > th,
.tabelData > tfoot > tr > th,
.tabelData > thead > tr > td,
.tabelData > tbody > tr > td,
.tabelData > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
  word-wrap:break-word;
}

.tabelData > thead > tr > th {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

.striped > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

.tabelData tbody tr{
	height: 20px;
	text-align:"left";	
	border-top: 2px solid #ddd;
	border-collapse: collapse;
	
}
/*
.tabeltoko tr th td {
	border : 1px solid black;
	border-collapse: collapse;	
}*/


#nomortabeltoko , #nomortabelpenanggungjawab{
	width: 20px;
}

#kodetabeltoko, #kodetabelpenanggungjawab{
	width: 100px;
}

#namatabeltoko , #namatabelpenanggungjawab{
	width: 150px;
}

#alamattabeltoko , #alamattabelpenanggungjawab{
	width: 250px;
}

#telpontabeltoko , #telepontabelpenanggungjawab{
	width: 100px;
}

#cptabeltoko , #jabatantabelpenanggungjawab{
	width: 150px;
}

#actiontabeltoko, #actiontabelpenanggungjawab{
	width: 60px;	
}

#paging{
	float: right;
	margin-right: 5%;
	margin-bottom: 20px;
}

.pagination{
	width:auto;
	margin:0px auto;
	float: right;
	margin-right: 12px;
}

.pagination .current{
	padding: 4px 10px;
	color: black;
	margin: 1px 0px 9px 6px;
	display: block;
	text-decoration:none;
	float: left;
	text-transform: capitalize;
	background: whitesmoke;
}

.pagination .page-numbers{
	padding: 4px 10px;
	color: white !important;
	margin: 1px 0px 9px 6px;
	display: block;
	text-decoration:none;
	float: left;
	text-transform: capitalize;
	background: #00b4cc;
}

/*Navigasi Search*/
.navSearch{
	margin-left: auto;
	margin-right: 2%;
	height: 50px;
	width: auto;
	float: right;
}

.searchToko , .searchPenanggungJawab{
	background: url("../image/search.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
	background-color: white;
	width: 96%;
	padding-right: 20px;
	margin-right: 30px;
}

.navSearch ul li{
	list-style-type: none;
	display: inline;
	color: black;
	margin: 0;
	padding: 0;
	float: left;
	width: 150px;
	margin-right: 20px;
}

.search{
	width: 120px;
	margin-top: -20px;
	position: relative;
}



.divSearch .search{
	padding: 0px 5px;
	color: black;
	border-collapse: collapse;
	float: right;
	margin: 0px 0px 0px 0px;
	position: relative;
}

.divSearch{
	margin-right: 2px;
}

#btnDropPencarian , #btnDropPencarianPenanggungJawab{
/*	margin-bottom: 20%;
	margin-top: 20%;*/
	margin-left: 20px;
	/*margin-right: 10px;*/
	height: 25px;
	width: 100%;

}

/*Navigasi Sort*/
.navSort{
	margin-left: auto;
	margin-right: 0px;
	height: 20px;
	width: auto;
	float: right;
	padding: 15px;
}

/*Navigasi Jumlah Data*/
.navJumlahData{
	margin-left: 7px;
	margin-right: 0px;
	height: 20px;
	width: 150px;
	float: left;
	padding: 15px;
}

#formCariToko, #formCariPenanggungJawab{
	clear: both;
	float: left;
    display: none;

}

/*.cls-show{
  display: block !important;
}

.cls2-show{
  display: none !important;
}*/

#divBoxPencarian{
	width: 100%;
}

#tablePencarian{
	margin-bottom: 10px;
	background-color: #BDBDBD;
	border: 1px solid skyblue;
}

#tablePencarian tr{
	height: 20px;
	border: none;
}

#tablePencarian tr td input{
	width: 80%;
}

.tdLabelTablePencarian{
	width: 16%;
}

#tdInputTablePencarian{
	width: 27%;
}

#btnPencarian , #btnPencarianPenanggungJawab{
	width: 60%;
	float: right;
	height: 25px;
	margin-right: 3%;
}

/*--------------------------------------------------------*/

#divTitle{	
	margin: 10px 10px 0px 20px  ;
	font-size: 14pt;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	width: 96%;
}

#divSubTitle{	
	margin: 10px 10px 0px 15px  ;
	font-size: 12pt;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	width: 96%;
}


/*tambah toko*/
#formTambahToko, #formEditToko, #formTambahPenanggungJawab, #formEditPenanggungJawab{
	width: 495px;
	margin-bottom: 40px;
	padding: 10px;
}

#formTambahTokoImport , #formTambahPenanggungJawabImport{
	width: 495px;
	padding: 10px;
	height: 70px;
}
	
/*#formTambahToko table tr td, #formEditToko table tr td , #formTambahGolonganRekening table tr td
,#formTambahSubGolonganRekening table tr td  {
  width: 300px;
}*/

#formTambahToko table tr td input , #formEditToko table tr td input , #formTambahGolonganRekening table tr td input
,#formTambahSubGolonganRekening table tr td input, #formTambahJenisAkunRekening table tr td input, #formTambahPenanggungJawab table tr td input , #formEditPenanggungJawab table tr td input{
  /*height: 20px;*/
  /*padding: 6px 12px;*/
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /*border-radius: 4px;*/
  /*width: 243px;*/
}

#formTambahToko table tr td textarea , #formEditToko table tr td textarea , #formTambahPenanggungJawab table tr td textarea, #formEditPenanggungJawab table tr td textarea {
  
  height: 70px;
  /*padding: 6px 12px;*/
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /*width: 290px;*/
  /*border-radius: 4px;*/
}

#warningUsername, #warningKodeGolongan, #warningKodeSubGolongan, #warningKodeJenisAkunRekening ,#warningKodePenanggungJawab{
	visibility: hidden;
	width: 15px;
	height: 15px;
}

.kolomLabel{
	width: 120px;
}

.kolomTitikDua{
	width: 10px;
}
#btnTambahToko , #btnTambahTokoImport , #btnTambahPenanggungJawabImport , #btnTambahPenanggungJawab{
	width: 120px; height: 25px;
	float: right;
	margin-right:40px;
	/*border-radius: 4px*/;
}

#fileTokoImport , #filePenanggungJawabImport{
	width:200px;
	height: 30px;
	float: left;
	margin-right:33px;
	border-radius: 4px;
	margin-left: 7.5px;
}

#btnEditToko, #btnEditPenanggungJawab{
width: 120px; height: 25px;
	float: right;
	margin-right:40px;
}

#btnBatalEditToko, #btnBatalEditPenanggungJawab{
	width:120px;
	height: 25px;
	float: right;
	margin-right:20px;	
}

.divOptionDataToko , #divOptionDataPenanggungJawab{
	width:auto;
	margin:0px auto;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
}

#btnTambahToko2{
	width:125px;
	height: 25px;
	text-decoration:none;
	float: left;
	margin-right: 20px;
}

#btnTambahPenanggungJawab2{
	width:auto;
	height: 25px;
	text-decoration:none;
	float: left;
	margin-right: 20px;
}

#lblExportToko , #selectExportDataToko , #lblExportPenanggungJawab , #selectExportDataPenanggungJawab {
	margin-left: 10px;
	height: 25px;
	width: 70px;
	text-decoration:none;
	text-align: center;
	vertical-align: middle;

}


/*Rekening---------------------------------------------------------------*/
#formTambahGolonganRekening, #formTambahSubGolonganRekening, #formTambahJenisAkunRekening{
	width: 430px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-left: 20px;
	padding-bottom: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#formTambahGolonganRekening select, #formTambahSubGolonganRekening select, #formTambahJenisAkunRekening select{
	width: 175px;
}

.kolomLabelRekening{
	width: 170px;
}
#btnTambahGolonganRekening , #btnTambahSubGolonganRekening , #btnTambahJenisAkunRekening{
	width:150px;
	height: 25px;
	float: right;
	margin-right:60px;
	margin-top: -5px;
}

.divKeteranganTambahRekening{
	width: 100%;
	text-align: right;
	margin-bottom: 10px;
	margin-top: -5px;
	visibility: hidden;
}
.lblKeteranganTambahRekening{
	margin-right: 60px;
	color: red;
}

#datarekening{
	float: left;
	width: 100%;
	overflow-y: scroll;
	height: 600px;
}

.ulGolonganDataRekening{
	list-style-type: none;
	color: black;
	margin-left: 30px;
	margin-bottom: 10px;
	padding: 0;
	margin-right: 0px;
}

.liSubGolonganDataRekening{
	list-style-type: none;
	color: black;
	margin-left: 55px;
	margin-bottom: 10px;
	padding: 0;
	/*width: auto;*/
}

.liJenisDataRekening{
	list-style-type: none;
	color: black;
	margin-left: 96px;
	margin-bottom: 10px;
	padding: 0;
	/*width: 75%;*/
}

.divGolonganDataRekening{
	width: 55%;
	display: inline-block;
}

.divSubDanJenisRekening {
	width: 55%;
	display: inline-block;
}

.divSubDanJenisRekening2{
	width: 13%;
	/*float: left;*/
	display: inline-block;

}

.pilihanRekening{
	margin-right: 30px;

	float: right;
	text-decoration: none;
	color: black;
}

.pilihanRekening a{
	text-decoration: none;
	color: black;
}

/*POPUP GANTI NAMA*/

.divGantiNama {
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    width: 350px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#divCloseGantiNama{
    float: right;
    margin-right: 10px;
    z-index: 99999;
    width: auto;
}


img.btn_close {
	float: right;
    width: 25px;
    height: 25px;
}

fieldset {
    border: none;
}

form.formGantiNama input {
   /* background: #666666;*/
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #DFDCDC;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial;
    padding: 6px 6px 4px;
    color: black;
    width: 100%;
}

#btnGantiNama{
    width: auto;
    height: 30px;
    font: bold 15px Arial,Helvetica;
    margin-top: 5px;
    margin-right: -13px;
    float: right;
    /*border-radius: 8px;*/
    background-color: white;
    color: black;
}

#divLblFormGantiNama{
	text-align: center;
}

#divLblFormGantiTipe{
	text-align: center;
}

#lblFormGantiNama{
	text-align: center;
}

#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    /*z-index: 10;*/
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1;
}
.liJenisDataRekening a{
	text-decoration: none;
	color: black;

}

.lblTitle{
	font-size: 14pt;
	font-weight: bold;
	/*padding-bottom: 30px;*/
	font-family: times;
	/*border-bottom: 1px solid #ddd;*/
	width: 90%;
}

.lblSubTitle{
	font-size: 12pt;
	font-weight: bold;
	/*padding-bottom: 30px;*/
	font-family: times;
	/*border-bottom: 1px solid #ddd;*/
	width: 90%;
}

#pilihanDataToko , #pilihanDataPenanggungJawab, #pilihanDataJemaat,#pilihanDataKomisi,#pilihanDataBidang,#pilihanDataNota{
	background:url("../image/setting.png");
	background-size: 25px;
	background-repeat: no-repeat;
	width: 55px;
	height: 25px;
	/*padding: 2px;*/
}

td {cursor: pointer;}

.selected {
    background-color: lightskyblue;
    color: #FFF;
}