#dataBukti{
	padding: 10px;
}

#dataBukti table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

#dataBukti td:not(.rightAlignTd){
	border-left: 1px dashed gray;
}

#dataBukti tr{
	border-right: 1px dashed gray;
	border-bottom: 1px solid black;
}

#dataBukti th{
	background-color: #01A9DB;
	/*color: white;*/
	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

#dataBukti thead tr{
	vertical-align: center;
	height: 40px;
}

#dataBukti tbody tr{
	vertical-align: center;	
	/*height: 40px;*/
	font-family: sans-serif;
	font-size: 10pt;
}

#dataBukti tbody td:not(.boxOptionDataBukti){
	padding-top: 12px;
	padding-bottom: 12px;
}

.optionDataBukti{
	width: 45px;
	height: 30px;
	/*border: none;*/
	background: url("../image/option.png");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: left;
}

.searchDataBuktiTransaksi{
	background: url("../image/search.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
	background-color: white;
	width: 96%;
	padding-right: 20px;
	margin-right: 30px;
}