#footer{
	clear: both;
	text-align: center;
	/*border: 1px solid black;*/
	height: auto;
	width: auto;
	margin-top : 3px;
	margin-bottom: 0%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7px;
	padding-bottom: 2px;
	border-collapse: collapse;
	background-image: url("../image/footer.png");
	background: blue;
	vertical-align: center;
}

#divFooterGereja{

	/*height: 2%;*/
/*	float:left;*/
	text-align: center;
	width: auto;
	margin: auto;
	/*margin-left: 50%;
	margin-right: 50%;*/
}

#imgGambarFooterGereja{
	width: 35px;
	height: 40px;
	padding: 0px 8px 0px 0px;
	border-collapse: collapse;
	/*border: 1px solid white;*/
}

/*#deskripsi{
	margin-top: -10px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	float: left;
	color: white;
}*/

#deskripsiFooter{
	/*float: left*/;
	text-align: center;
	margin: 0px;
	color: white;
}

