#header{
	text-align: center;
	font-family: cursive;
	font-size: 12px;
	color: white;
/*	margin: 0 auto;
	margin-bottom: 5px;
*/	/*background-image: url("../image/header.png");*/
	background: #0000ff;
	height: 130px;
	width: 100%;
	margin-bottom: 0px;
}

#divGambarHeaderGereja{
	height:120px;
	width:120px;
	float:left;
	/*margin-top: 5px;*/
	margin-left: 5%;
	float: left;
}

#imgGambarHeaderGereja{
	width:100%; height:100%;
	padding: 5px 0px 5px 5px;
	border-collapse: collapse;
	float: left;
}

#DeskripsiHeader{
	width: auto;
	margin-left: 150px;
/*	float: left;*/
	padding-top: 10px;
	list-style-type: none;
}

#DeskripsiHeader ul {
	margin-top: 0px;
}

#DeskripsiHeader ul li {
	padding-top: 10px;
	list-style-type: none;
	text-align: left;
	font-size: 15.5pt;
	/*color: black;*/
	font-family: "Times New Roman", Times, serif;
}

#gereja_alamatNoTelpEmail label{
	padding-top: 10px;
	list-style-type: none;
	text-align: left;
	font-size: 13pt;
	/*color: black;*/
	font-family: "Times New Roman", Times, serif;
}

#navigasiHeader{
	clear: both;
	height: 30px;
	width: 100%;
	background-color: whitesmoke;
	margin: 4px 0px 3px 0px;
	/*float: left;*/
}

#navigasiHeader ul{
	text-align: right;
	margin-top: 3px;
	margin-right: 10px;
	height: auto;
}

#navigasiHeader ul li{
	padding-top: 5px;
	margin-right: 10px;
	list-style-type: none;
	display: inline-block;
}

#navigasiHeader ul li a{
	text-decoration: none;
	color: black;

}

#navigasiHeader ul li a:hover{
	color:blue;
}
