#divHomePage{
	margin: 10px;
	/*padding: 10px;*/
}

#lblSelamatDatang{
	display: block;
	font-weight: bold;
}

#lblNamaDivisi{
font-weight: bold;	
}

#tableHomePage{
	clear: both;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 400px;
	text-align:"left"; 
	border-collapse: collapse;
	/*border: 1px solid #ddd;*/
	table-layout: fixed;
}

#tableHomePage > thead > tr > th,
#tableHomePage > tbody > tr > th,
#tableHomePage > tfoot > tr > th,
#tableHomePage > thead > tr > td,
#tableHomePage > tbody > tr > td,
#tableHomePage > tfoot > tr > td {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
  word-wrap:break-word;
}

#pHomePage p {
	color: red;
	font-weight: bold;
}