body{
	margin: 0 !important;
    padding: 0 !important;
    background-color: black;
    height: auto;
}

#wrapper{
	background-color: black;
	min-width: 600px;
	width: auto;
	min-height: 100%;
	height: auto;
	margin: 0px;
}

.menu li.haveSub:after{
	border-top: 10px solid rgb(18,121,249);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	right: 0;
	top: 0;
	margin-top: 9px;
	margin-right: 9px;
}

/*#header{
	background-color: orange;
	width: auto;
	height: 10%;
	text-align: center;
}*/

#content{
	background-color: whitesmoke;
	width: auto;
	height: auto;
	position: relative;
	overflow: hidden;
}

#left{
	position: absolute;
	left: 0;
	background-color: dimgray;
	width: 250px;
	height: 100%;
	overflow-y: scroll;
}

#right{
	margin-left: 250px;
	background-color: whitesmoke;
	/*min-width: 1000px;*/
	width: auto;
	height: 100%;

}

#right>div{
	height: 100%;
	position: relative;
	/*padding: 10px;*/
	/*display: none;*/
}

#right>div:not(.homepage){
	display: none;
}

/*#footer{
	height: 5%;
	width: 100%;
	background-color: orange;
	text-align: center;
}*/

.menu li{
	list-style: none;
	cursor: pointer;
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid gray;
	background-color: rgb(225,225,225);
	position: relative;
	/*color: floralwhite;*/
}

/*.menu>li:before{
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid brown;
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: 2px;
	top: 0;
}*/

.menu>li{
	border-bottom-left-radius: 10px;
	border-left: 7px solid navy;
}

.menu>div>li{
	border-bottom-left-radius: 10px;
	margin-left: 7px;
	border-left: 7px solid yellowgreen;
}

.menu>div>div>li{
	border-bottom-left-radius: 10px;
	margin-left: 14px;
	border-left: 7px solid darkred;
}

.menu{
	margin: auto;
	text-align: left;
	padding-left: 0px;
}

.trick{
	position: absolute;
	vertical-align: bottom;
	left: 0;
	margin-left: 0.8px;
	padding-left: 3px;
	top: 0;
	margin-top: 1.3px;
	padding-top: 2px;
	padding-bottom: 1px;
	height: 75%;
	border: 1px solid transparent;
	background-color: transparent;
	outline: hidden; 
}

select{
	height: 24.8px;
}

textarea{
	resize: none;
}

input:not([type=date]):not(.trick){
	height: 18px;
}

input:not([type=submit]):not([type=reset]){
	padding-left: 3px;
}

option{
	color: black;
}

#left{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

td, th{
	cursor: default;
}
