#detailKomisi{
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    width: 370px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#detailKomisi label{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.searchKomisi{
    background: url("../image/search.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: white;
    width: 96%;
    padding-right: 20px;
    margin-right: 30px;
}

#formTambahBidang, #formTambahKomisi{
    width: 495px;
    margin-bottom: 40px;
    padding: 10px;  
}

#btnTambahKomisi{
    width: 120px; height: 25px;
    float: right;
    margin-right:100px;
}