#kodeBukuBesar{
	width: 60%;
	text-align: center;
	
}

#namaBukuBesar{
	width: 20%;
	text-align: center;
}

#saldoBukuBesar{
	width: 20%;
	text-align: center;
}

#buku_besar_aktiva{
	width: 98%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

#buku_besar_pasiva{
	width: 98%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

#buku_besar_aktiva tbody{
	/*height:345px;*/
}

#buku_besar_pasiva tbody{
	/*height:345px;*/
}

#buku_besar_pasiva > thead > tr > td,
#buku_besar_pasiva > tbody > tr > td,
#buku_besar_pasiva > tfoot > tr > td,
#buku_besar_pasiva > thead > tr > td,
#buku_besar_pasiva > tbody > tr > td,
#buku_besar_pasiva > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#buku_besar_aktiva > thead > tr > td,
#buku_besar_aktiva > tbody > tr > td,
#buku_besar_aktiva> tfoot > tr > td,
#buku_besar_aktiva> thead > tr > td,
#buku_besar_aktiva > tbody > tr > td,
#buku_besar_aktiva > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#buku_besar_pasiva > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#buku_besar_pasiva > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#buku_besar_aktiva > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#buku_besar_aktiva > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

/*
#buku_besar_aktiva thead > tr{
    display:block;}
*/

#buku_besar_aktiva thead tr{
      background-color: #01A9DB;
}

#buku_besar_pasiva thead tr{
      background-color: #01A9DB;
}

#buku_besar_aktiva tbody tr{
     border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#buku_besar_pasiva tbody tr{
     border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#kodeBukuBesar{
	width: 20%;
}

#namaBukuBesar{
	width: 50%;
}

#saldoBukuBesar{
	width: 30%;
}








#rekeningSaldo{ 
    width: 98%;
    border-collapse: collapse;
	border: 1px solid #ddd;	
}

#rekeningSaldo > thead > tr > td,
#rekeningSaldo > tbody > tr > td,
#rekeningSaldo > tfoot > tr > td,
#rekeningSaldo > thead > tr > td,
#rekeningSaldo > tbody > tr > td,
#rekeningSaldo > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#rekeningSaldo > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#rekeningSaldo > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#rekeningSaldo thead > tr{
    display:block;
	background-color: #01A9DB;}

#rekeningSaldo thead tr{
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:98.5%;

    table-layout:fixed;
}

#rekeningSaldo tbody tr{
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#rekeningSaldo tbody{
    height: 345px;
    overflow-y: scroll;
    display: block;
    width:auto;
}

/*posisirekeningsaldo start*/
#posisiRekeningSaldo{ 
    width: 98%;
    border-collapse: collapse;
	border: 1px solid #ddd;	
}

#posisiRekeningSaldo > thead > tr > td,
#posisiRekeningSaldo > tbody > tr > td,
#posisiRekeningSaldo > tfoot > tr > td,
#posisiRekeningSaldo > thead > tr > td,
#posisiRekeningSaldo > tbody > tr > td,
#posisiRekeningSaldo > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#posisiRekeningSaldo > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#posisiRekeningSaldo > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#posisiRekeningSaldo thead > tr{
    display:block;
	background-color: #01A9DB;}

#posisiRekeningSaldo thead tr{
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:98.5%;

    table-layout:fixed;
}

#posisiRekeningSaldo tbody tr{
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#posisiRekeningSaldo tbody{
    height: 345px;
    overflow-y: scroll;
    display: block;
    width:auto;
}
/*posisirekeningsaldo end*/



#rekapRekeningSaldo{ 
    width: 98%;
    border-collapse: collapse;
	border: 1px solid #ddd;	
}

#rekapRekeningSaldo > thead > tr > td,
#rekapRekeningSaldo > tbody > tr > td,
#rekapRekeningSaldo > tfoot > tr > td,
#rekapRekeningSaldo > thead > tr > td,
#rekapRekeningSaldo > tbody > tr > td,
#rekapRekeningSaldo > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#rekapRekeningSaldo > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#rekapRekeningSaldo > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#rekapRekeningSaldo thead > tr{
    display:block;
	background-color: #01A9DB;}

#rekapRekeningSaldo thead tr{
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:98.5%;

    table-layout:fixed;
}

#rekapRekeningSaldo tbody tr{
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#rekapRekeningSaldo tbody{
    height: 345px;
    overflow-y: scroll;
    display: block;
    width:auto;
}




#rekDaftarSaldo{
	width: 70%; 
}

#saldoDaftarSaldo{
	width: auto;
}










#thnAnggaranTampilKelAkun{
	width:50px;
}





#LaporanPerRekening{
	width: 98%;
	text-align: center;
    border-collapse: collapse;
	border: 1px solid #ddd;	
}

#LaporanPerRekening > thead > tr > td,
#LaporanPerRekening > tbody > tr > td,
#LaporanPerRekening> tfoot > tr > td,
#LaporanPerRekening > thead > tr > td,
#LaporanPerRekening > tbody > tr > td,
#LaporanPerRekening > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#LaporanPerRekening > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#LaporanPerRekening > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#LaporanPerRekening thead{
	background-color: #01A9DB;
}

#LaporanPerRekening tbody tr{
	 border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#LaporanPerRekening tbody{
	/*height:345px;*/
}





#noRekLapKeg{
	width: 5%;
}

#kodeRekLapKeg{
	width: 10%;
}

#namaRekLapKeg{
	width: 20%;
}

#anggaranTahunanRekLapKeg{
	width: 20%;
}

#jumlahrealisasiRekLapKeg{
	width: 15%;
}

#perrealisasiRekLapKeg{
	width: 7.5%;
}

#jumlahsisaRekLapKeg{
	width: 15%;
}

#persisaRekLapKeg{
	width:	7.5%;
}

#realisasiRekLapKeg{
	width:	22.5%;
}

#sisaRekLapKeg{
	width:	22.5%;
}

#tolaporanPenInduvidu{
	overflow: scroll;
	max-height: 345px; 
	max-width: 98%;
	min-width: 100px;
}

#laporanPenInduvidu{
	text-align: center;
	width: 130%;
	border-collapse: collapse;
	border: 1px solid #ddd;	
}


#laporanPenInduvidu > thead > tr > td,
#laporanPenInduvidu > tbody > tr > td,
#laporanPenInduvidu > tfoot > tr > td,
#laporanPenInduvidu > thead > tr > td,
#laporanPenInduvidu > tbody > tr > td,
#laporanPenInduvidu > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#laporanPenInduvidu > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#laporanPenInduvidu > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#laporanPenInduvidu thead tr{
	background-color: #01A9DB;
}


#laporanPenInduvidu tbody tr{
	border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#laporanPenInduvidu tbody{
	max-height:345px;
}

#noPenInd{
	width: 5%;
	text-align: left;
}

#noTranPenInd{
	width: 7.5%;
	text-align: left;
}

#tglPenInd{
	width: 10%;
	text-align: left;
}

#noKuiPenInd{
	width: 5%;
	text-align: left;
}

#namaPemPenInd{
	width: 12.5%;
	text-align: left;
}

#willyPenInd{
	width: 5%;
	text-align: left;
}

#bulanPerJem{
	width: 12.5%;
	text-align: left;
}

#jumlahPenInd{
	width: 10%;
}

#ketPenInd{
	width: auto;
}

#cetakLaporan{
	margin-right:10px; 
	width:100px; 
	height:25px;
}


#divLapPemasukanTahunan{
	overflow: scroll;
	max-height: 345px; 
	max-width: 100%;
	min-width: 100px;
}


#mutasi_per_rek,#laporan_pemasukan,#laporan_pengeluaran{
	width: 98%;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

#mutasi_per_rek > thead > tr > td,
#mutasi_per_rek > tbody > tr > td,
#mutasi_per_rek > tfoot > tr > td,
#laporan_pemasukan > thead > tr > td,
#laporan_pemasukan > tbody > tr > td,
#laporan_pemasukan > tfoot > tr > td,
#laporan_pengeluaran > thead > tr > td,
#laporan_pengeluaran > tbody > tr > td,
#laporan_pengeluaran > tfoot > tr > td,
#laporan_pemasukan_tahunan > thead > tr > td,
#laporan_pemasukan_tahunan > tbody > tr > td,
#laporan_pemasukan_tahunan > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#mutasi_per_rek > thead > tr > td,
#laporan_pemasukan > thead > tr > td,
#laporan_pengeluaran > thead > tr > td,
#laporan_pemasukan_tahunan > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#mutasi_per_rek > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#mutasi_per_rek thead tr,
#laporan_pemasukan thead tr,
#laporan_pengeluaran thead tr,
#laporan_pemasukan_tahunan thead tr {
	background-color: #01A9DB;
}


#mutasi_per_rek tbody,
#laporan_pemasukan tbody,
#laporan_pengeluaran tbody {
    height: 345px;
    overflow-y: scroll;
    width:auto;
    display: block;	
}

#mutasi_per_rek tr td,
#laporan_pemasukan tr td,
#laporan_pengeluaran tr td,
#laporan_pemasukan_tahunan tr td {
    border-bottom: 1px solid #999; 
}


#mutasi_per_rek thead,
#laporan_pemasukan thead,
#laporan_pengeluaran thead {
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:98.5%;
    table-layout:fixed;
}

#mutasi_per_rek tbody tr,
#laporan_pemasukan tbody tr,
#laporan_pengeluaran tbody tr {
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#laporan_pemasukan_tahunan thead {
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:200%;
    table-layout:fixed;
}

#laporan_pemasukan_tahunan tbody {
    height: 345px;
    overflow-y: scroll;
    width:200%;
    display: block;	
}

#laporan_pemasukan_tahunan tbody tr {
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100.85%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#nomorDanNamaRekLapTahunan {
	width: 44%;
	text-align: left;
}

#jmlPemasukanPerBulan {
	width: 12%;
	text-align: left;
}

#mutasi_kas{
	width: 98%;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

#mutasi_kas > thead > tr > td,
#mutasi_kas > tbody > tr > td,
#mutasi_kas > tfoot > tr > td,
#mutasi_kas > thead > tr > td,
#mutasi_kas > tbody > tr > td,
#mutasi_kas > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#mutasi_kas > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#mutasi_kas > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#mutasi_kas thead tr{
	background-color: #01A9DB;
}


#mutasi_kas tbody{
    height: 345px;
    overflow-y: scroll;
    width:auto;
    display: block;	
}

#mutasi_kas tr td{
    border-bottom: 1px solid #999; 
}


#mutasi_kas thead{
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:98.5%;
    table-layout:fixed;
}

#mutasi_kas tbody tr{
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}




#jurnal_mutasi{
	width: 98%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	text-align: center;
}

#jurnal_mutasi > thead > tr > td,
#jurnal_mutasi > tbody > tr > td,
#jurnal_mutasi > tfoot > tr > td,
#jurnal_mutasi > thead > tr > td,
#jurnal_mutasi > tbody > tr > td,
#jurnal_mutasi > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#jurnal_mutasi > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#jurnal_mutasi > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#jurnal_mutasi thead tr{
	background-color: #01A9DB;
}


#jurnal_mutasi tbody{
    height: 345px;
    overflow-y: scroll;
    width:auto;
    display: block;	
}

#jurnal_mutasi tr td{
    border-bottom: 1px solid #999; 
}


#jurnal_mutasi thead{
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:98.5%;
    table-layout:fixed;

}

#jurnal_mutasi tbody tr{
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#noRekDK{
	width: 7.5%;	
	text-align: center;
}

#tglWarkat{
	width: 	15%;
	text-align: center;
}

#noWarkat{
	width: 	10%;
	text-align: center;
}

#uraianJurnalMutasi{
	width: 	25%;
	text-align: left;
}

#debetJurnal{
	width: 	12.5%;
	text-align: right;
}

#kreditJurnal{
	width: 	12.5%;
	text-align: right;
}

#mutasi_per_akun{
	width: 98%;
	text-align: center;
    border-collapse: collapse;
	border: 1px solid #ddd;	
}

#mutasi_per_akun > thead > tr > td,
#mutasi_per_akun > tbody > tr > td,
#mutasi_per_akun> tfoot > tr > td,
#mutasi_per_akun > thead > tr > td,
#mutasi_per_akun > tbody > tr > td,
#mutasi_per_akun > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#mutasi_per_akun > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#mutasi_per_akun > tbody > tr:nth-of-type(odd) {
  background-color: none
}

#mutasi_per_akun thead{
	background-color: #01A9DB;
}

#mutasi_per_akun tbody tr{
	 border-top: 2px solid #ddd;
	border-collapse: collapse;
	overflow-y: scroll;
}

#mutasi_per_akun tbody{
	/*height:345px;*/
}

#uraianPerAkun{
	/*width: 	25%;*/
	text-align: left;
}


#noMutasi{
	width: 7.5%;	
	text-align: left;
}

#noBuktiMutasi{
	width: 10%;	
	text-align: left;
}

#tglMutasi{
	width: 	10%;
	text-align: left;
}

#noRekMutasi{
	width: 	7.5%;
	text-align: left;
}

#uraianMutasi{
	width: 	25%;
	text-align: left;
}

#debetMutasi{
	width: 	12.5%;
	text-align: center;
}

#kreditMutasi{
	width: 	12.5%;
	text-align: center;
}

#saldoMutasi{
	width: 	15%;
	text-align: center;
}

#tipeMutasi{
	width: 	25%;
	text-align: center;
}


#tglMutasiKas{
	width: 7.5%;	
	text-align: left;
}

#noBuktiMutasiKas{
	width: 10%;	
	text-align: left;
}

#kodeMutasiKas{
	width: 	7.5%;
	text-align: left;
}

#keteranganMutasiKas{
	width: 	25%;
	text-align: left;
}

#penerimaan{
	width: 	12.5%;
	text-align: center;
}

#pengeluaran{
	width: 	12.5%;
	text-align: center;
}

#saldo{
	width: 	15%;
	text-align: center;
}


#tolaporanPengeluaranPerTahun{
	overflow: scroll;
	max-height: 345px; 
	max-width: 98%;
	min-width: 100px;
}

#pengeluaran_per_tahun{
	/*text-align: center;*/
	width: 130%;
	border-collapse: collapse;
	border: 1px solid #ddd;	
}


#pengeluaran_per_tahun > thead > tr > td,
#pengeluaran_per_tahun > tbody > tr > td,
#pengeluaran_per_tahun > tfoot > tr > td,
#pengeluaran_per_tahun > thead > tr > td,
#pengeluaran_per_tahun > tbody > tr > td,
#pengeluaran_per_tahun > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#pengeluaran_per_tahun > thead > tr > td {
 /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#pengeluaran_per_tahun> tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#pengeluaran_per_tahun thead tr{
	background-color: #01A9DB;
}
#pengeluaran_per_tahun tbody tr{
	border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#pengeluaran_per_tahun tbody{
   max-height:500px;
}

#loading{
	width: 40px;
	height: 40px;
}

#kodePengeluaranPerThn{
	width: 7.5%;
	text-align: left;
}

#uraianPengeluaranPerThn{
		width: 50%;
	text-align: left;
}

#blnPengeluaranPerThn thead{
	width: 25%;
	text-align: center;
}

#blnPengeluaranPerThn tbody{
	width: 25%;
	text-align: right;
}

#tolaporanPerJemaat{
	overflow: scroll;
	max-height: 345px; 
	max-width: 98%;
	min-width: 100px;
}

#laporanPerJemaat{
	text-align: center;
	width: 130%;
	border-collapse: collapse;
	border: 1px solid #ddd;	
}


#laporanPerJemaat > thead > tr > td,
#laporanPerJemaat > tbody > tr > td,
#laporanPerJemaat > tfoot > tr > td,
#laporanPerJemaat > thead > tr > td,
#laporanPerJemaat > tbody > tr > td,
#laporanPerJemaat > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}


#laporanPerJemaat > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#laporanPerJemaat > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#laporanPerJemaat thead tr{
	background-color: #01A9DB;
}


#laporanPerJemaat tbody tr{
	border-top: 2px solid #ddd;
	border-collapse: collapse;
}


#laporanPerJemaat tbody{
	max-height:345px;
}

#noPerJem{
	width: 5%;
	text-align: left;
}

#noTranPerJem{
	width: 7.5%;
	text-align: left;
}

#tglPerJem{
	width: 10%;
	text-align: left;
}

#noKuiPerJem{
	width: 5%;
	text-align: left;
}

#namaPemPerJem{
	width: 12.5%;
	text-align: left;
}

#willyPerJem{
	width: 5%;
	text-align: left;
}

#bulanPerJem{
	width: 12.5%;
	text-align: left;
}

#jumlahPerJem{
	width: 10%;
}

#ketPerJem{
	width: auto;
}


/*#judulBukuBesar,#judulRekSaldo, #judulPenInd,#judulLaporanPerRekening, #judulPerJemaat, #judulMutasiPerRek{
	font-weight: bold;
}*/

