body{
	margin: 0px;
	padding: 0px;

}

#wrapper{
	background-color: white;
	margin: 0px;
	width: auto;
	height: auto;	
}

.header{
	background-color: white;
	width: auto;
	height: 20%;
	text-align: center;
}

.form{
	background: #137fec;
	/*background-color: yellow;*/
  width: auto;
	height: 60%;
  min-height: 350px;
	position: relative;
}

.login{
	  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 46%;
    margin: auto;
}

.login input{
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 51.5%;
  height:20%;
  border-radius: 3px;
  padding: 2%;
  margin-top: 0%;
  margin-left: auto;
  margin-bottom: 1%;
  margin-right: auto;
  font-size: 1.5vw;
  display: block;
  text-align: center;
  color: white;
}

.login ::-webkit-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

.login input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.login input:focus {
  background-color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 55%;
  color: #137fec;
}

.login #login-button{
  display: block;
  margin-top: 1%;
  margin-left: auto;
  margin-bottom: 0%;
  margin-right: auto;
  padding: 2%;
  outline: 0;
  background-color: white;
  border: 0;
  color: #137fec;
  border-radius: 3px;
  width: 55.5%;
  cursor: pointer;
  font-size: 1.5vw;
}

.login #login-button:hover {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  background-color: #f5f7f9;
}

.header h1{
	color:#137fec;
	text-align: center;
  margin: 4% auto 10px auto;
  vertical-align: center;
  outline: 0;
  font-size: 3vw;
}

.login a{
  text-decoration: none;
  color:white;
  height: 5%;
  font-style: italic;
  margin-left: 60%;
  font-size: 1.3vw;
}

.login a:hover{
  color:silver;
}

#err{
  text-align: center;
}

#err h3{
  font-size: 1.3vw;
  text-align: center;
}

.footer{
	background-color: white;
	width: auto;
	height: 20%;
	text-align: center;
}

#pemulihanPassword1{
    vertical-align: center;
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 5px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 35%;
    left: 37.5%;
    z-index: 99999;
    width: 380px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#pemulihanPassword2{
    vertical-align: center; 
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 5px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 20%;
    left: 37.5%;
    z-index: 99999;
    width: 380px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#pemulihanPassword1 tr td label{
  font-weight: bold;
  color:white;
}


#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    /*z-index: 10;*/
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

img.btn_close {
  float: right;
    width: 25px;
    height: 25px;
}

#buttonEditProfilAkunAll{
    text-align: center;
}

#buttonEditProfilAkunAll button{
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

#buttonEditProfilAkunAll button:hover{
    background-color: white;
    box-shadow: 0px 0px 50px #ddd;
    cursor: pointer;
}

#buttonEditProfilAkunAll input{
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

#buttonEditProfilAkunAll input:hover{
    background-color: white;
    box-shadow: 0px 0px 50px #ddd;
    cursor: pointer;
}

#warningPassPem2, #warningPassPem1{
  visibility: hidden;
  width: 15px;
  height: 15px;
}