#formMutasiRekening{
	padding: 10px;
}

#mutasiRekeningAtas{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

#mutasiRekeningAtas td{
	padding-bottom: 4px;
	/*border: 1px solid black;*/
}

#boxKeteranganMutasiRekening *{
	width: 99.2%;
}

#detailMutasi{
	margin-top: 15px;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

#detailMutasiBody td:not(.numerik){
	border-left: 1px dashed gray;
}

#detailMutasiBody tr{
	border-right: 1px dashed gray;
}

#detailMutasi th{
	background-color: #01A9DB;
	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

#detailMutasi thead tr{
	border-bottom: 1px solid black;
	vertical-align: center;
	height: 40px;
}

#detailMutasi tbody tr{
	border-top: 1px solid black;
	vertical-align: center;	
	height: 40px;
	font-family: sans-serif;
	font-size: 10pt;
}

#detailMutasi tr td *:not(.trick){
	width: 100%;
}

.uraianMutasi{
	text-align: left;
	width: 98% !important;
	height: 100%;
	border: none;
	background-color: transparent;
	outline: none;
}

#mutasiTambahan_jumlah{
	padding-left: 26px;
}