#detailNota{
    min-height: auto;
    display: none;
    visibility: hidden;
    background-color: #2E64FE;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    width: 370px;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#labelDetailNota{
    margin-left: 30%;
    font-weight: bold;
    color: white;
}

#buttonEditProfilAkunAllKomisiNota{
    width:100%;
    text-align: center;
}

#buttonEditProfilAkunAllKomisiNota button{

    width: 70px;
    height: 30px;
    border-radius: 5px;
}

#buttonEditProfilAkunAllKomisiNota button:hover{
    background-color: white;
    box-shadow: 0px 0px 50px #ddd;
    cursor: pointer;
}
