#formpenerimaan{
	padding: 10px;
}

#formpenerimaan>table{
	text-align: left;
}

#formpenerimaan>table td{
	padding-bottom: 4px;
}

#penerimaan_jumlah{
	padding-left: 26px;
}

.customdate{
	width: 60px;
	padding-right: 8px;
}

.customdate *{
	width: 100%;
}

.rp{
	position: absolute;
	top: 0;
	left: 0;
	width: 21px;
	margin-left: 2px;
	margin-top: 3px;
	border: none;
	background-color: transparent;
	pointer-events: none;
	color: black;
}

.rptail{
	text-align: right;
	padding-right: 15px;
}

.relativeBox{
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
}

.relativeBox *{
	width: 100%;
}

.fTitle{
	font-size: 14pt;
	font-weight: bold;
	padding-bottom: 25px;
	font-family: times;
}
