#rencanaAnggaran{ 
    width: 98%;	
    border-collapse: collapse;
	border: 1px solid #ddd;
}

#rencanaAnggaran > thead > tr > td,
#rencanaAnggaran > tbody > tr > td,
#rencanaAnggaran > tfoot > tr > td,
#rencanaAnggaran > thead > tr > td,
#rencanaAnggaran > tbody > tr > td,
#rencanaAnggaran > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#rencanaAnggaran > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#rencanaAnggaran > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#rencanaAnggaran thead tr{
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:98.5%;
    background-color: #01A9DB;
    table-layout:fixed;
}

#rencanaAnggaran tbody tr{
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#rencanaAnggaran tbody{
    height: 380px;
    overflow: auto;
    display: block;
}

tbody #rekPer{
		width: 70%;
}

thead #rekPer{
	width: 70%;
}

thead #saldoPer{
	width: auto;
}

tbody #saldoPer{
	width: auto;
}




#btnBatalRencanaJenisAkunRekening, #btnTambahRencanaJenisAkunRekening{
    width: 120px; height: 25px;
    float: right;
    margin-right:40px;   
}

#formTambahRencanaAnggaran{
    width: 500px;
    padding: 30px;
}

#tambahRencanaAnggaranBut, #editRencanaAnggaranBut, #hapusRencanaAnggaranBut, #printRencanaAnggaranBut{
	margin-right:10px;
	width:100px;
	height:25px;	
}

#rencanaAnggaran tbody tr.selected {
    background-color: lightskyblue;
    color: #FFF;
}

.lblTitle{
    font-size: 14pt;
    font-weight: bold;
    /*padding-bottom: 30px;*/
    font-family: times;
    /*border-bottom: 1px solid #ddd;*/
    width: 90%;
}

#divTitle{  
    margin: 10px 10px 0px 20px  ;
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    width: 96%;
}

/*#keteranganLaporanHeader{
  font-weight: bold;
}
*/