body{
	margin: 0 !important;
    padding: 0 !important;
    background-color: black;
    height: auto;
}

#wrapper{
	background-color: black;
	width: auto;
	height: auto;
	margin: 0px;
}

/*#header{
	background-color: orange;
	width: auto;
	height: 10%;
	text-align: center;
}
*/
#content{
	clear: both;
	margin-top: 0px;
	background-color: whitesmoke;
	width: auto;
	min-height: 85%;
	height: auto;
	position: relative;
	overflow: hidden;
	padding-bottom: 10px;
	/*overflow: auto;*/
}

#left{
	position: absolute;
	left: 0;
	background-color: gray;
	width: 250px;
	min-height: 100%;
	height: 100%;
	overflow-y: scroll;
}

#right{
	margin-left: 250px;
	background-color: whitesmoke;
	width: auto;
	min-height: 100%;	
}

#right>div{
	height: 100%;
	position: relative;
	
}

/*#footer{
	height: 5%;
	width: 100%;
	clear: both;
	background-color: orange;
	text-align: center;
}*/

.menu li{
	list-style: none;
	cursor: pointer;
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid gray;
	background-color: rgb(225,225,225);
	/*color: floralwhite;*/
}

.menu>li{
	border-left: 7px solid violet;
	/*background-color: orange;*/
}

.menu>div>li{
	/*background-color: violet;*/
	margin-left: 7px;
	border-left: 7px solid limegreen;
}

.menu>div>div>li{
	/*background-color: lightgreen;*/
	margin-left: 14px;
	border-left: 7px solid blue;
}

.menu{
	margin: auto;
	text-align: left;
	padding-left: 0px;
}

.trick{
	position: absolute;
	left: 0;
	margin-left: 0.8%;
	top: 0;
	margin-top: 0.6%;
	height: 16px;
	border-color: transparent;
	background-color: transparent; 
}

select{
	height: 24px;
}

textarea{
	resize: none;
}

td{
	padding-bottom: 4px;
	position: relative;
}

input:not([type=date]):not(.trick){
	height: 18px;
}

input{
	padding-left: 3px;
}

option{
	color: black;
}


