#kodeBukuBesar{
	width: 60%;
	text-align: center;
	
}

#namaBukuBesar{
	width: 20%;
	text-align: center;
}

#saldoBukuBesar{
	width: 20%;
	text-align: center;
}

#buku_besar_aktiva{
	width: 98%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

#buku_besar_pasiva{
	width: 98%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

#buku_besar_aktiva tbody{
	/*height:345px;*/
}

#buku_besar_pasiva tbody{
	/*height:345px;*/
}

#buku_besar_pasiva > thead > tr > td,
#buku_besar_pasiva > tbody > tr > td,
#buku_besar_pasiva > tfoot > tr > td,
#buku_besar_pasiva > thead > tr > td,
#buku_besar_pasiva > tbody > tr > td,
#buku_besar_pasiva > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#buku_besar_aktiva > thead > tr > td,
#buku_besar_aktiva > tbody > tr > td,
#buku_besar_aktiva> tfoot > tr > td,
#buku_besar_aktiva> thead > tr > td,
#buku_besar_aktiva > tbody > tr > td,
#buku_besar_aktiva > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#buku_besar_pasiva > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#buku_besar_pasiva > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#buku_besar_aktiva > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#buku_besar_aktiva > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

/*
#buku_besar_aktiva thead > tr{
    display:block;}
*/

#buku_besar_aktiva thead tr{
      background-color: #01A9DB;
}

#buku_besar_pasiva thead tr{
      background-color: #01A9DB;
}

#buku_besar_aktiva tbody tr{
     border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#buku_besar_pasiva tbody tr{
     border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#kodeBukuBesar{
	width: 20%;
}

#namaBukuBesar{
	width: 50%;
}

#saldoBukuBesar{
	width: 30%;
}








#rekeningSaldo{ 
    width: 98%;
    border-collapse: collapse;
	border: 1px solid #ddd;	
}

#rekeningSaldo > thead > tr > td,
#rekeningSaldo > tbody > tr > td,
#rekeningSaldo > tfoot > tr > td,
#rekeningSaldo > thead > tr > td,
#rekeningSaldo > tbody > tr > td,
#rekeningSaldo > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: top;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#rekeningSaldo > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#rekeningSaldo > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#rekeningSaldo thead > tr{
    display:block;
	background-color: #01A9DB;}

#rekeningSaldo thead tr{
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:98.5%;

    table-layout:fixed;
}

#rekeningSaldo tbody tr{
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}


#rekDaftarSaldo{
	width: 70%; 
}

#saldoDaftarSaldo{
	width: auto;
}

#rekeningSaldo tbody{
    height: 345px;
    overflow-y: scroll;
    display: block;
    width:auto;
}








#thnAnggaranTampilKelAkun{
	width:50px;
}





#LaporanPerRekening{
	width: 98%;
	text-align: center;
    border-collapse: collapse;
	border: 1px solid #ddd;	
}

#LaporanPerRekening > thead > tr > td,
#LaporanPerRekening > tbody > tr > td,
#LaporanPerRekening> tfoot > tr > td,
#LaporanPerRekening > thead > tr > td,
#LaporanPerRekening > tbody > tr > td,
#LaporanPerRekening > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#LaporanPerRekening > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#LaporanPerRekening > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#LaporanPerRekening thead{
	background-color: #01A9DB;
}

#LaporanPerRekening tbody tr{
	 border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#LaporanPerRekening tbody{
	/*height:345px;*/
}





#noRekLapKeg{
	width: 5%;
}

#kodeRekLapKeg{
	width: 10%;
}

#namaRekLapKeg{
	width: 20%;
}

#anggaranTahunanRekLapKeg{
	width: 20%;
}

#jumlahrealisasiRekLapKeg{
	width: 15%;
}

#perrealisasiRekLapKeg{
	width: 7.5%;
}

#jumlahsisaRekLapKeg{
	width: 15%;
}

#persisaRekLapKeg{
	width:	7.5%;
}

#realisasiRekLapKeg{
	width:	22.5%;
}

#sisaRekLapKeg{
	width:	22.5%;
}














#tolaporanPenInduvidu{
	overflow: scroll;
	max-height: 345px; 
	max-width: 98%;
	min-width: 100px;
}

#laporanPenInduvidu{
	text-align: center;
	width: 130%;
	border-collapse: collapse;
	border: 1px solid #ddd;	
}


#laporanPenInduvidu > thead > tr > td,
#laporanPenInduvidu > tbody > tr > td,
#laporanPenInduvidu > tfoot > tr > td,
#laporanPenInduvidu > thead > tr > td,
#laporanPenInduvidu > tbody > tr > td,
#laporanPenInduvidu > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#laporanPenInduvidu > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#laporanPenInduvidu > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#laporanPenInduvidu thead tr{
	background-color: #01A9DB;
}


#laporanPenInduvidu tbody tr{
	border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#laporanPenInduvidu tbody{
	max-height:345px;
}

#noPenInd{
	width: 5%;
	text-align: left;
}

#noTranPenInd{
	width: 7.5%;
	text-align: left;
}

#tglPenInd{
	width: 10%;
	text-align: left;
}

#noKuiPenInd{
	width: 5%;
	text-align: left;
}

#namaPemPenInd{
	width: 12.5%;
	text-align: left;
}

#willyPenInd{
	width: 5%;
	text-align: left;
}

#bulanPerJem{
	width: 12.5%;
	text-align: left;
}

#jumlahPenInd{
	width: 10%;
}

#ketPenInd{
	width: auto;
}

#cetakLaporan{
	margin-right:10px; 
	width:100px; 
	height:25px;
}












#mutasi_per_rek{
	width: 98%;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

#mutasi_per_rek > thead > tr > td,
#mutasi_per_rek > tbody > tr > td,
#mutasi_per_rek > tfoot > tr > td,
#mutasi_per_rek > thead > tr > td,
#mutasi_per_rek > tbody > tr > td,
#mutasi_per_rek > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#mutasi_per_rek > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#mutasi_per_rek > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#mutasi_per_rek thead tr{
	background-color: #01A9DB;
}


#mutasi_per_rek tbody{
    height: 345px;
    overflow-y: scroll;
    width:auto;
    display: block;	
}

#mutasi_per_rek tr td{
    border-bottom: 1px solid #999; 
}


#mutasi_per_rek thead{
	/*width: 100%;*/
/*	display: block;*/
	display:table;
    width:98.5%;
    table-layout:fixed;
}

#mutasi_per_rek tbody tr{
	/*width: 100%;*/
	/*display: block;*/
	display:table;
    width:100%;
    table-layout:fixed;
    border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#noMutasi{
	width: 7.5%;	
	text-align: left;
}

#noBuktiMutasi{
	width: 10%;	
	text-align: left;
}

#tglMutasi{
	width: 	10%;
	text-align: left;
}

#noRekMutasi{
	width: 	7.5%;
	text-align: left;
}

#uraianMutasi{
	width: 	25%;
	text-align: left;
}

#debetMutasi{
	width: 	12.5%;
	text-align: center;
}

#kreditMutasi{
	width: 	12.5%;
	text-align: center;
}

#saldoMutasi{
	width: 	15%;
	text-align: center;
}

#tipeMutasi{
	width: 	25%;
	text-align: center;
}





#tolaporanPerJemaat{
	overflow: scroll;
	max-height: 345px; 
	max-width: 98%;
	min-width: 100px;
}

#laporanPerJemaat{
	text-align: center;
	width: 130%;
	border-collapse: collapse;
	border: 1px solid #ddd;	
}


#laporanPerJemaat > thead > tr > td,
#laporanPerJemaat > tbody > tr > td,
#laporanPerJemaat > tfoot > tr > td,
#laporanPerJemaat > thead > tr > td,
#laporanPerJemaat > tbody > tr > td,
#laporanPerJemaat > tfoot > tr > td {
  padding: 7px;
  line-height: 1.42857143;
  vertical-align: center;
/*  border-top: 1px solid #ddd;*/
  height: 10px;
}

#laporanPerJemaat tbody{
	max-height:345px;
}

#laporanPerJemaat > thead > tr > td {
  /*vertical-align: bottom;*/
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #01A9DB;

}

#laporanPerJemaat > tbody > tr:nth-of-type(odd) {
  background-color: none;
}

#laporanPerJemaat thead tr{
	background-color: #01A9DB;
}


#laporanPerJemaat tbody tr{
	border-top: 2px solid #ddd;
	border-collapse: collapse;
}

#noPerJem{
	width: 5%;
	text-align: left;
}

#noTranPerJem{
	width: 7.5%;
	text-align: left;
}

#tglPerJem{
	width: 10%;
	text-align: left;
}

#noKuiPerJem{
	width: 5%;
	text-align: left;
}

#namaPemPerJem{
	width: 12.5%;
	text-align: left;
}

#willyPerJem{
	width: 5%;
	text-align: left;
}

#bulanPerJem{
	width: 12.5%;
	text-align: left;
}

#jumlahPerJem{
	width: 10%;
}

#ketPerJem{
	width: auto;
}


/*#judulBukuBesar,#judulRekSaldo, #judulPenInd,#judulLaporanPerRekening, #judulPerJemaat, #judulMutasiPerRek{
	font-weight: bold;
}*/

